<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">Issue Tracker</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" (click)="goBack()">Go back</a>

      </li>

    </ul>

  </div>

</nav>
<br />
<div class="container">
  <div class="row" style="text-align:left">
    <div class="col-md-12">
      <form #createIssueForm="ngForm" enctype="multipart/form-data">

        <div class="form-group">
          <div class="heading">Issue Details</div>


       <label class="heading1">Issue Title</label>
          <input type="text" name="issueTitle" [(ngModel)]="title" #titlee="ngModel" class="form-control"
            placeholder="Enter issue title" required>

        </div>
        <div [hidden]="titlee.valid || titlee.pristine" class="alert alert-danger">
          Issue title is required
        </div>
      
        <div class="form-group">
          <label class="heading1">Issue Description</label>
            <ckeditor [(ngModel)]="description" name="desc" [editor]="Editor" placeholder="Type your description here..."></ckeditor>
        </div>
      
       <div class="form-group">
          <label class="heading1">Issue Attachments</label>
          <input type="file"   name="file"  class="form-control" (change)="selectFile($event)" multiple>
            <button class="btn btn-success" [disabled]=!selectedFiles (click)="upload()">Upload</button>
            <div *ngFor="let file of selectedFiles">
              <span  >{{file.name}}</span>
            </div>
            <div *ngIf="loaded==false">
              <span>Uploading your files</span>
            </div>

        </div>
        <div class="form-group">
          <label class="heading1">Assign To</label>
         <select class="form-control" #id [(ngModel)]="user" name="seluser">
           <option *ngFor="let user of allUsers" >{{user.firstName}} {{user.lastName}},{{user.userId}}

           </option>

         </select>
         <button *ngIf="loadMoreUsersButton==true" type="button" (click)="loadMoreUsers()" class="btn btn-dark btn-sm">Load More Users</button>
         <button *ngIf="loadPreviousUsersButton==true" type="button" (click)="loadPreviousUsers()" class="btn btn-dark btn-sm">Load Previous Users</button>

        </div>

      <br/>
      <br/>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!createIssueForm.form.valid"
          (click)="postIssueFunction()">Post Issue</button>

      </form>
    </div>

  